@model IEnumerable<IntermediarioMVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<hr/>

<p>
    @Html.ActionLink("New Product", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-info" style="background-color:white">
    <tr>
        <th>
            Image
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            Category
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class="btn btn-danger"})
            </td>
        </tr>
    }

</table>
