@model IntermediarioMVC.Models.PayDetailsView

@{
    ViewBag.Title = "Details";
}

<h2>Details of pay</h2>

<div>
   <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provider.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class="btn btn-default"})
</p>
<div class="row">
    <section id="Sales" class="col-md-6">
        <h3>Related Sales</h3>
        @if (Model.Sales != null && Model.Sales.Count > 0)
        {
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].DateOfSale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].ProductInStock.Product.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].SalePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].Amount)
                    </th>
                    @if (!Model.Certificated)
                    {
                        <th>
                        </th>

                    }
                </tr>
                @foreach (var item in Model.Sales)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductInStock.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalePrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        @if (!Model.Certificated)
                        {
                            <td>
                                @Html.ActionLink("Unlink", "DeleteSale", new { saleId = item.SaleId, payId = Model.PayId }, new { @class="btn btn-warning"})
                            </td>

                        }
                     </tr>
                }
            </table>

        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <p class="alert-link">There are not related sales yet</p>
            </div>
        }
       </section>
   @if (!Model.Certificated)
   {
    <section id="AvailableSales" class="col-md-6">
        <h3>Available Sales</h3>
        @if (Model.AvailableSales != null && Model.AvailableSales.Count > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].DateOfSale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].ProductInStock.Product.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].SalePrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableSales[0].Amount)
                    </th>
                     <th></th>
                </tr>
                @foreach (var item in Model.AvailableSales)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfSale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductInStock.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalePrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.ActionLink("Link", "AddSale", new { saleId = item.SaleId, payId = Model.PayId }, new { @class="btn btn-success"})
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <p class="alert-link">There are not available sales yet</p>
            </div>
          
        }
    </section>

   }
</div>
<div class="row">
    <div class="col-md-12">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>
        </dl>

</div>
</div>
