@model IEnumerable<IntermediarioMVC.Models.Purchase>

@{
    ViewBag.Title = "Purchase";
}

<h2>Purchases</h2>
<hr/>
<p>
    @Html.ActionLink("New Purchase", "NewPurchase","Transfer",new { }, new { @class="btn btn-primary"})
</p>

@using (Html.BeginForm("Purchase", "Transfer", FormMethod.Get))
{
    <ul class="list-inline">
        <li class="list-inline-item">
            <p>Find by product:</p>
        </li>
        <li class="list-inline-item">
            @Html.TextBox("productName", new { }, new { @class = "form-control" })
            
        </li>
        <li class="list-inline-item">
            <input type="submit" value="Filter" class="btn btn-success" />
        </li>
    </ul>

}

<table class="table table-info table-striped">
    <tr>
        <th>
            Provider
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceInput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePurchase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceInput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { purchaseId = item.PurchaseId }, new { @class = "btn btn-info" })
           </td>
        </tr>
    }

</table>
